<form action="/category/add" method="post" class="container mt-2">
   <h1 class="mb-3">Add new category</h1>
   <div class="mb-3">
      <label for="name" class="form-label">Category name:</label>
      <input type="text" class="form-control" name="name" id="name" required>
   </div>
   <button type="submit" class="btn btn-primary">Add</button>
</form>
