<a class="btn btn-info" href="/category/add">Add new category</a>
<a class="btn btn-danger" href="/category/deleteall" onclick="return confirm('Are you sure to delete all product category ?');">Delete all</a>
<br><br>
<table class="table  ">
   <tr>
      <th>Category name</th>
      <th>Action</th>
   </tr>
   {{#each categories }}
   <tr>
      <td>
         <a href="/category/detail/{{ _id }}">
            {{ name }}
         </a>
      </td>
      <td>
         <a class="btn btn-warning" href="/category/edit/{{ _id }}">Edit</a>
         <a class="btn btn-danger" href="/category/delete/{{ _id }}"
         onclick="return confirm('Are you sure to delete this category ?');"
         >Delete</a>
      </td>
   </tr>
   {{/each}}
</table>